﻿<style>
div.cpw-forms-ama-ie-rational 
{
	width: 410px;
	margin: 0px auto;
}
div.cpw-forms-ama-ie-rational textarea
{
	width: 400px;
	height: 100px;
}
div.cpw-forms-ama-ie-rational.default textarea
{
	background: #f0f0f0;
}
div.cpw-forms-ama-ie-rational.custom label
{
	text-decoration: line-through
}
</style>
<div class="cpw-forms-ama-ie-rational">
	<label>
		<input type="checkbox" <%= obj.checkbox_attrs('Использовать_текст_по_умолчанию',true) %> /> 
		Используется текст "по умолчанию"
	</label><br/>
	<textarea readonly="readonly" <%= obj.textarea_attrs('Текст') %> ><%= !obj.model ? '' : obj.model.Текст %></textarea>
</div>