﻿<style>
div.cpw-ama-spouses table
{
	width: 100%;
}
div.cpw-ama-spouses table tr.title
{
	vertical-align: bottom;
}
div.cpw-ama-spouses table tr.title .t2
{
	color: silver;
}
div.cpw-ama-spouses table tr.collection-item:hover
{
	background-color: #f7f7f7;
}
div.cpw-ama-spouses table .col1
{
	padding-left: 20px;
}
div.cpw-ama-wards table .colz
{
	width:75px;
}
</style>
<div class="cpw-ama-spouses">

	<div <%= obj.empty_attrs() %> >
		<b>Супруги за последние 3 года:</b>&nbsp;&nbsp;
		<a href="#" class="do_add">данных нет, кликните, чтобы указать</a>
	</div>

	<table <%= obj.not_empty_attrs() %> >
		<tr class="title">
			<td><b>Супруги за последние 3 года:</b><br/><span class="t2 col1">Фамилия, имя, отчество:</span></td>
			<td class="t2">брак<br/>заключён:</td>
			<td class="t2">брак<br/>расторгнут:</td>
			<td class="t2">контракт?</td>
			<td class="colz"><a href="#" class="do_add">Добавить</a></td>
		</tr>
		<% while (obj.iterate()) { %>
		<tr <%= obj.item_attrs() %> >
			<td class="col1">
				<%= obj.text_field('Фамилия') %>
					<% if (obj.is_seed()) { %>Никитина<% } %>
				<%= obj.text_field_end() %> 
				<%= obj.text_field('Имя') %>
					<% if (obj.is_seed()) { %>Никита<% } %>
				<%= obj.text_field_end() %> 
				<%= obj.text_field('Отчество') %>
					<% if (obj.is_seed()) { %>Никитовна<% } %>
				<%= obj.text_field_end() %>
			</td>
			<td>
				<%= obj.text_field('Брак.Дата.заключение') %>
					<% if (obj.is_seed()) { %>01.01.2000<% } %>
				<%= obj.text_field_end() %>
			</td>
			<td>
				<%= obj.text_field('Брак.Дата.расторжение') %>
					<% if (obj.is_seed()) { %>01.01.2000<% } %>
				<%= obj.text_field_end() %>
			</td>
			<td>
				<%= obj.text_field('Брак.Имеется_договор') %>
					<% if (obj.is_seed()) { %>есть контракт<% } %>
				<%= obj.text_field_end() %>
			</td>
			<td class="colz"><a href="#" class="do_delete">Удалить</a></td>
		</tr>
		<% } %>
	</table>
<%
var on_add= function(e)
{
	var simple= obj.options.c_item();
	simple.SetFormContent({});
	var btnOk= 'Сохранить';
	console.log(!simple.height ? 400 : simple.height);
	obj.options.h_msgbox.ShowModal
	({
		  title:'Добавление данных о супруге'
		, controller: simple
		, width:!simple.width ? 400 : simple.width
		, height:!simple.height ? 400 : simple.height
		, buttons:[btnOk, 'Отмена']
		, onclose: function(btn)
		{
			if (btn==btnOk)
			{
				console.log(1);
				if (!obj.model)
					obj.model= [];
				console.log(2);
				obj.model.push(simple.GetFormContent());
				console.log(obj.model);
				console.log(3);
				obj.update_dom();
				$(obj.form_div_selector).trigger('model_change');
			}
		}
	});
};
var on_edit= function(e)
{
	var i_item= parseInt(obj.find_binding_for_item($(this)).i_item);
	var simple= obj.options.c_item();
	var item_model= obj.model[i_item];
	simple.SetFormContent(item_model);
	var btnOk= 'Сохранить';
	obj.options.h_msgbox.ShowModal
	({
		  title:'Редактирование данных о супруге №' + (i_item+1)
		, controller: simple
		, width:!simple.width ? 400 : simple.width
		, height:!simple.height ? 400 : simple.height
		, buttons:[btnOk, 'Отмена']
		, onclose: function(btn)
		{
			if (btn==btnOk)
			{
				if (!obj.model)
					obj.model= [];
				obj.model[i_item]= simple.GetFormContent();
				obj.update_dom();
				$(obj.form_div_selector).trigger('model_change');
			}
		}
	});
};
var on_delete= function(e)
{
	var i_item= parseInt(obj.find_binding_for_item($(this)).i_item);
	var item_model= obj.model[i_item];
	var btnOk= 'Да, удалить';
	obj.options.h_msgbox.ShowModal
	({
		  title:'Подтверждение удаления данных о супруге'
		, html: 'Вы действительно хотите удалить данные о супруге №' + (i_item+1) + 
			'<br/> &nbsp;&nbsp;&nbsp;<b>' + item_model.Фамилия + ' ' + item_model.Имя + ' ' + item_model.Отчество + '</b>?'
		, width:450, height:180
		, buttons:[btnOk, 'Нет, не удалять']
		, onclose: function(btn)
		{
			if (btn==btnOk)
			{
				obj.model.splice(i_item,1);
				obj.update_dom();
				$(obj.form_div_selector).trigger('model_change');
			}
		}
	});
	return false;
};
obj.on_after_render= function()
{
	var sel= obj.form_div_selector;
	$(sel + ' .do_add').click(on_add);
	$(sel + ' .do_delete').click(on_delete);
	$(sel + ' .collection-item').click(on_edit);
};
obj.on_after_update_dom= function()
{
	var sel= obj.form_div_selector;
	var do_delete_items= $(sel + ' .do_delete');
	do_delete_items.off('click',on_delete);
	do_delete_items.click(on_delete);
	var do_edit_items= $(sel + ' .collection-item');
	do_edit_items.off('click',on_edit);
	do_edit_items.click(on_edit);
};
%>
</div>