﻿<style>
div.cpw-ama-spouse
{
	width:310px;
	margin:0 auto;
}
div.cpw-ama-spouse div.row
{
	margin-top:3px;
	margin-bottom:3px;
}
div.cpw-ama-spouse div.row label
{
	display: inline-block;
	vertical-align:top;
}
div.cpw-ama-spouse div.row.r1 label:after,
div.cpw-ama-spouse div.row.r2 label:after
{
	content: ':';
}
div.cpw-ama-spouse div.row.r1 label 
{
	width:100px;
}
div.cpw-ama-spouse div.row.r2 label
{
	width:180px;
}
div.cpw-ama-spouse div.row.r1 input
{
	width:200px;
}
div.cpw-ama-spouse div.row.r2 input
{
	width:120px;
}
</style>
<div class="cpw-ama-spouse">

	<div class="row r1">
		<label>Фамилия</label>
		<input type="text" value="<%= obj.txt('Фамилия') %>" />
	</div>

	<div class="row r1">
		<label>Имя</label>
		<input type="text" value="<%= obj.txt('Имя') %>"  />
	</div>
	
	<div class="row r1">
		<label>Отчество</label>
		<input type="text"  value="<%= obj.txt('Отчество') %>" />
	</div>

	<br/>
	<div class="row r2">
		<label>Дата рождения</label>
		<input type="text" value="<%= obj.txt('Дата_рождения') %>" <%= obj.date_attrs() %> />
	</div>

</div>