﻿<style>
div.cpw-ama-npextra
{
	width:600px;
	margin:0 auto;
}
div.cpw-ama-npextra div.control
{
	margin-top: 5px;
}
div.cpw-ama-npextra div.row
{
	margin-top: 3px;
}
div.cpw-ama-npextra div.row div.title1
{
	display: inline-block;
	width: 180px;
	text-align: right;
}
div.cpw-ama-npextra div.row input.money
{
	width: 70px;
}
</style>
<div class="cpw-ama-npextra">

	<div class="row">
		
	</div>

	<div class="row">
		<div class="title1">В среднем, в месяц: доход </div> 
		<input type="text" value="<%= obj.txt('Среднемесячный_доход') %>" class="money"/> руб., 
		<label>
			гражданин признан безработным
			<input type="checkbox" value="<%= obj.txt('Гражданин_признан_безработным') %>" /> 
		</label>
	</div>

	<div class="row">
		<div class="title1">затраты на лечение </div> 
		<input type="text" value="<%= obj.txt('Среднемесячные_затраты_на_лечение') %>" class="money"/> руб., 
		на основании 
		<input type="text" value="<%= obj.txt('Среднемесячные_затраты_на_лечение') %>" />
	</div>

	<div class="control spouses">
		<%= obj.control('Супруги') %><% if (0) { %>СУПРУГИ<% } %>
	</div>

	<div class="control wards">
		<%= obj.control('Иждивенцы') %><% if (0) { %>ИЖДИВЕНЦЫ<% } %>
	</div>
</div>