﻿<style>
div.cpw-forms-ama-expense
{
	width: 800px;
	margin:0px auto;
}
div.cpw-forms-ama-expense div.section
{
	margin-bottom: 20px;
}
div.cpw-forms-ama-expense div.row
{
	width: 800px;
	vertical-align: top;
	margin-bottom: 5px;
}
div.cpw-forms-ama-expense div.title1
{
	display: inline-block;
	vertical-align: top;
	text-align: right;
	width: 150px;
	margin-right: 5px;
}
div.cpw-forms-ama-expense div.title2
{
	display: inline-block;
	width: 50px;
	vertical-align: top;
}
div.cpw-forms-ama-expense select.full { width: 530px; }
div.cpw-forms-ama-expense input.full { width: 630px; }
div.cpw-forms-ama-expense textarea.full { width: 630px; }
div.cpw-forms-ama-expense input[renderas="date"] { width: 100px; vertical-align: top; }
div.cpw-forms-ama-expense input[model_field_name="Сумма.рублей"]
{
	width: 100px;
	text-align: right;
}
div.cpw-forms-ama-expense input[model_field_name="Сумма.копеек"] { width: 30px; }
div.cpw-forms-ama-expense input[model_field_name="Подтверждающий_документ.Тип"] { width: 250px; }
div.cpw-forms-ama-expense div.date
{
	display: inline-block;
	float: right;
}
div.cpw-forms-ama-expense div.date div.shortcuts
{
	display: inline-block;
	font-size: 0.5em;
}
div.cpw-forms-ama-expense a.found
{
	display: inline-block;
	margin-left: 150px;
}
</style>
<div class="cpw-forms-ama-expense">

	<br/>
	<div class="section">
		<div class="row">
			<div class="date">
				от 
				<input type="text" value="<%= obj.txt('Подтверждающий_документ.Дата') %>" <%= obj.date_attrs() %> /> 
				<div class="shortcuts">
					<a href="#">последняя</a><br> 
					<a href="#">сегодня</a>
				</div>
			</div>
			<div class="title1">Подтв. документ:</div>
			<input type="text" value="<%= obj.txt('Подтверждающий_документ.Тип') %>" /> 
			№ 
			<input type="text" value="<%= obj.txt('Подтверждающий_документ.Номер') %>" /> 
		</div>
	

		<div class="row">
			<div class="date">
				дата платежа:
				<input type="text" <%= obj.date_attrs() %> value="<%= obj.txt('Дата_платежа') %>" /> 
				<div class="shortcuts">
					<a href="#">последняя</a><br> 
					<a href="#">сегодня</a>
				</div>
			</div>
			<div class="title1">на сумму</div>
			<input type="text" value="<%= obj.txt('Сумма.рублей') %>" /> 
			рублей 
			<input type="text" value="<%= obj.txt('Сумма.копеек') %>" /> 
			копеек 
		</div>

		<div class="row">
			<div class="title1">Пояснение:</div>
			<textarea class="full" <%= obj.textarea_attrs('Пояснение') %> ></textarea>
		</div>
	</div>

	<div class="section">
		<div class="row">
			<div class="title1">Трек-номер:</div>
			<input type="text" value="<%= obj.txt('Трек_номер_отправления') %>" /> 
			<a href="#null">Трек номера отправлений по реестру..</a>
		</div>
	</div>

	<div class="section">
		<div class="row">
			<div class="title1">Со счёта:</div>
			<select class="full" <%= obj.select_attrs('Со_счета') %> >
				<option>Основной</option>
				<option>Касса</option>
				<option>Собственные средства АУ</option>
			</select>
		</div>

		<div class="row">
			<div class="title1">Цель расходов:</div>
			<select class="full" <%= obj.select_attrs('Цель') %> >
				<option>отправка корреспонденции</option>
				<option>покупка конвертов</option>
				<option>покупка марок</option>
			</select> 
			(для отчета АУ)
		</div>

		<div class="row">
			<div class="title1">Вид расходов:</div>
			<select class="full" <%= obj.select_attrs('Вид') %> >
				<option>почтовые услуги</option>
			</select>
		</div>
	</div>

	<div class="section">
		<div class="row">
			Графа "обоснование" отчёта об использовании денежных средств:<br/>
			<a class="found" href="#" <%= obj.a_modal_attrs('Обоснование_платежа') %> >кликните, чтобы указать текст..</a>
		</div>
	</div>

	<div class="row">
		<div class="title1">С банковского счета:</div>
		<select class="full" <%= obj.select_attrs('С_банковского_счета') %>></select>
	</div>

	<div class="row">
		<div class="title1">Получатель:</div>
		<input type="text" class="full" value="<%= obj.txt('Получатель') %>" />
	</div>

</div>